
#inputbox{
    padding:10px 100px 5px 10px;
}
.textarea {
    display: block;
    width: 200px;
}

#inputbox1{
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
#inputbox1:active{
    transform:scale(0.99) ;
}
#p{
    font-size: large;
    font-weight: 700;
    padding: 10px;
}
#fonts{
    padding: 10px;
}
.form{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding:40px 80px;
    background-color: rgb(227, 212, 212);
    border-radius:10px;
    
}
.contactform{
   padding: 25px 20px 25px 20px;
}
